#set($authInfo = $context.identity)
#if($authInfo.apiKey)
  {
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
      "team_id" : $util.dynamodb.toDynamoDBJson($ctx.args.team_id)
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args)
  }
#else
  $util.unauthorized()
#end